# Byte-compiled
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environments
.env
.venv/
env/
venv/

# IDE
.vscode/
.idea/

# Models and checkpoints
models/
*.pt
*.pth

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Optuna
*.db